version: '3.8'

services:
  postgres:
    container_name: links-vault-database-postgres-container
    image: postgres
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=links-vault-database-postgres